


/* .product-item-container{
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30vw;
    height: 30vh;
    min-height: 200px;
 } */
 /* .product-image{
    object-fit: contain;
    
    max-width: 300px;
    max-height: 300px;
} */

/* .product-image-container{
    width: 30vw;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
} */

.product-name{
    font-size: large;
}

.product-price{
    font-size: x-large;
}