/* TODO Add site wide styles */
@import 'reset.css';


.nav-items{
    width: 100vw;
    height: 75px;
    background-color: #131921;
    display: flex;
    justify-content: space-around;
}

.search-bar{
    display:flex;
    
    justify-items: center;
    border-radius: 8px;
    
    
}

.search-button{
    background-color:orange;
}

