.submit-button, .demo-user{
    
    background-color:orange;
    color: ghostwhite;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: larger;
}
.login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    width: 30vw;
    border: 1px solid gray;
}


.login-form-container {
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    align-items: center;
    height: 100vh;
    width: 100vw;
}
.login-credential,.login-password{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #ccc; */
    box-sizing: border-box;

}


.signup-text{
    display: flex;
    justify-content: center;
    align-items: center;
}