.submit-button, .demo-user{
    
    background-color:orange;
    color: rgb(249, 242, 242);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
.login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    width: 30vw;
}


.login-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.login-credential,.login-password{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}