.nav-items{
    display: flex;
    justify-items: center;
    align-items: center;
}

.nav-right, .dropdown-toggle {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100px;
    border: 1px solid transparent; 
    transition: border-color 0.3s;
}

.nav-right:hover {
    border-color: azure; 
}

.hello-signin{
 font-size: small;
}
.accounts{
    font-size: large;
}

.cart-icon,
.linkedin-icon,
.github-icon,
.login-icon {
    color: azure;
    width: 50px;
    height: 50px;
}

.login-items {
    width: 150px;
    display: flex;
}

.cart-link{
    display: flex;
}
.home-icon {
    /* fill:orange; */
    color: azure;
    width: 50px;
    height: 50px;
}

.profile-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
    width: 50px;
    height: 50px;
    border-radius: 8px;
}

.profile-icon {
    cursor: pointer;
    color: #131921;
    width: 50px;
    height: 50px;
}

.profile-dropdown {

    background-color: beige;
}

.logout-button {
    cursor: pointer;
}

.login-button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: orange;
    width: 50px;
    height: 50px;
}

.signin-button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 75%;
    height: 30px;
    background-color: orange;
    color: black;
    border-radius: 8px;
}

.dropdown {
    position: relative;
    display: inline-block;
    
  }
#dropdown-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    position: absolute;
    top: 100%;
    right: 20%;
    /* left: 40%; */
    height: 80px;
    z-index: 1;
    border-top: 20px;
    /* width: 10vw; */
  }
.dropdown:hover .dropdown-menu {
    display: block;
  }

.dropdown-toggle{
    color:azure;   
    cursor: pointer;
}

.nav-search-bar{
    display: flex;
    justify-content: center;
    height: 50%;
    align-items: center;
}

