.nav-right{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 150px;
}

.cart-icon, .linkedin-icon, .github-icon, .login-icon{
    color: orange;
    width: 50px;
    height: 50px;
}

.login-items{
    width: 150px;
    display: flex;
    
}


.home-icon{
    /* fill:orange; */
    color:orange;
    width: 50px;
    height: 50px;
}

.profile-button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
    width: 50px;
    height: 50px;
    border-radius: 8px;
}

.profile-icon{
    cursor: pointer;
    color:#131921;
    width: 50px;
    height: 50px;
}

.profile-dropdown{
    
    background-color: beige;
}

.logout-button{
    cursor: pointer;
}

.login-button{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: orange;
    width: 50px;
    height: 50px;
}

